# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc



# Log files
*.log

# IDE files
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# .DS_Store (Mac specific)
.DS_Store
